/* body{
  background-color:#47398d;
  color: white;
}
.center{
    display: grid;
    justify-content:center;
    margin-top: 18%;
}
button{
    background-color: #0ab306;
    height: 35px;
    border-radius: 50px;
    width: 140%;
    color: white;
}
h2{
    margin-left: 19%;
    width: 100%;
} */